<!-- This example requires Tailwind CSS v2.0+ -->
{var int $previousPage = max($paginator->getPage() - 1, $paginator->getFirstPage())}
{var int $nextPage = min($paginator->getPage() + 1, $paginator->getLastPage())}
<div n:snippet="paginator" class="bg-white px-4 py-3 flex items-center justify-between border-t border-gray-200 sm:px-6">
    <div class="flex-1 flex justify-between sm:hidden">
        <a n:href="page!, page: $previousPage" class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50">
            Previous
        </a>
        <a n:href="page!, page: $nextPage" class="ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50">
            Next
        </a>
    </div>
    <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
        <div>
            <p class="text-sm text-gray-700">
                {var $to = $paginator->getPage() * $paginator->getItemsPerPage()}
                Showing
                <span class="font-medium">{min($to - $paginator->getItemsPerPage() + 1, $paginator->getItemCount())}</span>
                to
                <span class="font-medium">{min($to, $paginator->getItemCount())}</span>
                of
                <span class="font-medium">{$paginator->getItemCount()}</span>
                results
            </p>
        </div>
        <div>
            <nav class="relative z-0 inline-flex rounded-md shadow-sm -space-x-px" aria-label="Pagination">
                <a n:href="page!, page: $previousPage" class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
                    <span class="sr-only">Previous</span>
                    <!-- Heroicon name: solid/chevron-left -->
                    <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
                    </svg>
                </a>
                <!-- Current: "z-10 bg-indigo-50 border-indigo-500 text-indigo-600", Default: "bg-white border-gray-300 text-gray-500 hover:bg-gray-50" -->
                <a  n:foreach="$steps as $step"
                    n:href="page!, page: $step"
                    {if $paginator->getPage() === $step}aria-current="page"{/if}
                    class="
                        {if $paginator->getPage() === $step}
                            z-10 bg-indigo-50 border-indigo-500 text-indigo-600
                        {else}
                            bg-white border-gray-300 text-gray-500 hover:bg-gray-50
                        {/if}
                        relative inline-flex items-center px-4 py-2 border text-sm font-medium
                    "
                >
                    {$step}
                </a>

                <a n:href="page!, page: $nextPage" class="relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
                    <span class="sr-only">Next</span>
                    <!-- Heroicon name: solid/chevron-right -->
                    <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                    </svg>
                </a>
            </nav>
        </div>
    </div>
</div>
